$card-border-radius: 5px;

body {
    margin: 0;
    padding: 0;
    font-family: Consolas;
    overflow: hidden;
    background-color: #222;
}

.main-menu {
    padding: 45px;
    background-color: #ccc;

    & input {
        &[type=text] {
            font-size: 20px;
        }
    }
}

.table {
    background-color: #fff;
    position: absolute;
    margin: 0;
}

.card {
    border: 1px solid #999;
    border-radius: $card-border-radius + 1px;
    position: absolute;
    background-color: #dedede;
    cursor: move;
    transition:
        box-shadow .1s ease-in-out,
        transform .1s ease-in-out;

    &:hover {
        border: 1px solid #fb9;
    }

    &.grabbed {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    }

    & * {
        border-radius: $card-border-radius;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.table-logo {
    animation: Table-logo-spin infinite 20s linear;
    height: 80px;
}

@keyframes Table-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.deck {
    outline: none;
    border: 1px solid #999;
    border-right: 3px solid #777;
    border-bottom: 2px solid #999;
    border-radius: $card-border-radius;
    background-color: #999;
    position: absolute;
    cursor: move;
    transition: box-shadow 0.15s ease-out;

    & * {
        border-radius: $card-border-radius;
        height: 100%;
        width: 100%;
    }

    &:hover {
        border: 1px solid #fb9;
        border-right: 3px solid #d96;
        border-bottom: 2px solid #fb9;
        background-color: #fb9;
    }

    &:active {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    }
}

.deckCardsCounter {
    border: 1px solid rgba(0, 0, 0, 0.3);
    top: -11px;
    left: -11px;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 21px;
    width: initial;
    height: initial;
    padding: 0 6px;
    width: no;
    border-radius: 5px;
    position: absolute;
}

/*.shuffleAnimaiton-enter {
    position: absolute;
    opacity: 0.01;

    &.shuffleAnimaiton-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}

.shuffleAnimaiton-leave {
    position: absolute;
    opacity: 1;

    &.shuffleAnimaiton-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
}*/

.deckAnimaiton {
    outline: none;
    border: 1px solid #999;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    width: 102px;
    height: 142px;
    background-color: #efefef;

    & * {
        border-radius: inherit;
        height: 100%;
        width: 100%;
    }
}

.deckAnimaitonLeft {
    animation: Shuffle-animaiton 1 0.35s ease-in-out;
}

.deckAnimaitonRight {
    animation: Shuffle-animaiton 1 0.45s ease-in-out;
}

.noselect-content {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
    pointer-events: none;
}

.cursor {
    @extend .noselect-content;
    z-index: 150000;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
}

.filter {
    @extend .noselect-content;

    z-index: 200000;
    position: absolute;
    background-color: rgba(255, 128, 128 ,0.3);
}

.noselect * {
    @extend .noselect-content;
}
