$card-border-radius: 5px;

body {
    background-color: #333;
    overflow: hidden;
}

.tt-table {
    background-color: #fff;
    position: absolute;
    margin: 0;
    transition: transform .1s ease-in-out;
}

.tt-card {
    border: 1px solid #999;
    border-radius: $card-border-radius + 1px;
    position: absolute;
    background-color: #dedede;
    cursor: move;
    transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;

    &:hover {
        border: 1px solid #fb9;
    }

    & * {
        border-radius: $card-border-radius;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.tt-card,
.tt-deck {
    &.tt-active {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
}

.tt-table-logo {
    animation: Table-logo-spin infinite 20s linear;
    height: 80px;
}

@keyframes Table-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.tt-deck {
    outline: none;
    border: 1px solid #999;
    border-right: 3px solid #777;
    border-bottom: 2px solid #999;
    border-radius: $card-border-radius;
    background-color: #999;
    position: absolute;
    cursor: move;
    transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;

    & * {
        border-radius: $card-border-radius;
        height: 100%;
        width: 100%;
    }

    &:hover {
        border: 1px solid #fb9;
        border-right: 3px solid #d96;
        border-bottom: 2px solid #fb9;
        background-color: #fb9;
    }
    //&:active {
    //    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    //}
}

.tt-deckCardsCounter {
    border: 1px solid rgba(0, 0, 0, 0.3);
    top: -11px;
    left: -11px;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 21px;
    width: initial;
    height: initial;
    padding: 0 6px;
    border-radius: 5px;
    position: absolute;
}

.shuffleAnimaiton-enter {
    position: absolute;
    opacity: 0.01;

    &.shuffleAnimaiton-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}

.shuffleAnimaiton-leave {
    position: absolute;
    opacity: 1;

    &.shuffleAnimaiton-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
}

.tt-deckAnimaiton {
    outline: none;
    border: 1px solid #999;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    width: 102px;
    height: 142px;
    background-color: #efefef;

    & * {
        border-radius: inherit;
        height: 100%;
        width: 100%;
    }
}

.tt-deckAnimaitonLeft {
    animation: Shuffle-animaiton 1 0.35s ease-in-out;
}

.tt-deckAnimaitonRight {
    animation: Shuffle-animaiton 1 0.45s ease-in-out;
}

.tt-noselect-content {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
    pointer-events: none;
}

.tt-cursor {
    $cursor-radius: 4px;
    @extend .tt-noselect-content;
    z-index: 150000;
    position: absolute;
    background-color: red;
    border: $cursor-radius solid red;
    margin: -$cursor-radius;
    border-radius: 100%;
}

.tt-filter {
    @extend .tt-noselect-content;
    display: flex;
    justify-content: center;
    z-index: 200000;
    position: absolute;
    opacity: 0.5;

    & .tt-filter-name {
        align-self: center;
        font-family: Consolas;
        font-weight: 600;
        font-size: 50px;
        color: rgba(255,255,255,.5);
    }
}

.tt-noselect * {
    @extend .tt-noselect-content;
}

.tt-hud {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;

    & > .tt-hud-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 0;
    }

    & > .tt-hud-bottom {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 0;
    }
}

.tt-chat {
    display: flex;
    flex-direction: column;
    font-family: Consolas;
    background-color: rgba(0, 0, 0, .3);
    width: 30%;
    height: 20%;
    min-width: 500px;
    min-height: 260px;
    pointer-events: all;
    transition: background-color .2s ease-in-out;

    &:focus,
    &:hover {
        background-color: rgba(0, 0, 0, .6);
    }

    & .tt-chat-messages {
        flex-grow: 1;
        align-self: stretch;
        color: #fff;
        overflow-y: scroll;

        & .tt-chat-messages-wrapper {
            display: flex;
            flex-direction: column-reverse;
            align-self: stretch;
            padding: 5px;

            & .tt-chat-sender {
                font-weight: 600;
                padding: 0 3px;
                cursor: pointer;
            }

            & .tt-chat-message {
            }
        }
    }

    & .tt-chat-input {
        min-height: 30px;
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        border-top: 1px dotted #000;

        & input {
            flex-grow: 1;
            background-color: transparent;
            border: none;
            color: #fff;
            padding: 5px;
        }

        & button {
            flex-grow: 0;
            background-color: #dedede;
            border: none;
        }
    }
}

ul.tt-users {
    margin: 5px;
    list-style-type: none;
    padding: 0;

    & > li {
        padding: 5px;
        margin-top: 5px;
    }

    & .tt-userbadge {
        padding: 5px;
        color: #fff;
        opacity: .9;
        border-radius: 4px;
        font-size: 16px;
    }
}

.tt-context-menu {
    position: absolute;
    background: #dedede;
    border: 1px solid #999;
    font-family: Consolas;
    font-size: 11px;
    z-index: 200000;

    & ul {
        margin: unset;
        padding: unset;

        & li {
            list-style: none;
            cursor: pointer;
            padding: 5px;

            &:not(:last-of-type) {
                border-bottom: 1px dotted #999;
            }

            &:hover {
                background: #ccc;

                &:active {
                    background: #fb9;
                }
            }
        }
    }
}